{% extends "base.html" %}

{% block Part1 %}

{% load static %}
<section class="container mx-auto my-8 p-6 bg-white shadow-lg rounded-lg">
    <div class="flex justify-between items-start">
        <div class="flex flex-col">
            <h1 class="italic text-3xl font-bold text-kabuli-800">Osmia cornifrons</h1>
            <p class="mt-2 text-gray-600">
                Osmia cornifrons, also known as the horned-face bee, is a species of solitary bee indigenous to Northern Asia.
                Physically, this species of bee is recognized for its horn-like extensions originating from its lower face. Populations
                of O. cornifrons have been recorded in multiple locations, including Japan, Korea, China, and Russia. O. cornifrons are
                more docile as compared to other species of bees and are less prone to sting when aggravated.
            </p>
        </div>
        <img src="{% static 'img/Osmia_bicornis.jpg' %}" alt="Host Image" class="w-48 h-32 rounded-lg ml-4">
    </div>

    <!-- Symbiont Information Section -->
    <div class="mt-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Symbionts</h2>
        <input type="text" placeholder="Search" class="mb-4 p-2 border rounded-lg w-full">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-50">
                    <th class="py-2 px-4 text-left">Symbiont Name</th>
                    <th class="py-2 px-4 text-left">Genus</th>
                    <th class="py-2 px-4 text-left">Localization</th>
                    <th class="py-2 px-4 text-left">Transmission</th>
                    <th class="py-2 px-4 text-left">Fuction</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">Burkholderia</a>
                    </td>
                    <td class="py-2 px-4">Burkholderia</td>
                    <td class="py-2 px-4">Extracellular</td>
                    <td class="py-2 px-4">Unknown</td>
                    <td class="py-2 px-4">be essential to support Osmia larvae in their nutrient uptake</td>
                </tr>
                <tr>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">Diaphorobacter</a>
                    </td>
                    <td class="py-2 px-4">Diaphorobacter</td>
                    <td class="py-2 px-4">Extracellular</td>
                    <td class="py-2 px-4">Unknown</td>
                    <td class="py-2 px-4">be essential to support Osmia larvae in their nutrient uptake</td>
                </tr>
                <tr>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">Massilia</a>
                    </td>
                    <td class="py-2 px-4">Massilia</td>
                    <td class="py-2 px-4">Extracellular</td>
                    <td class="py-2 px-4">Unknown</td>
                    <td class="py-2 px-4">food uptake and host survival</td>
                </tr>
                <tr>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">Craurococcus</a>
                    </td>
                    <td class="py-2 px-4">Craurococcus</td>
                    <td class="py-2 px-4">Extracellular</td>
                    <td class="py-2 px-4">Unknown</td>
                    <td class="py-2 px-4">food uptake and host survival</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Genome Information Section -->
    <div class="mt-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Genome Information</h2>
        {% comment %} <p class="text-sm text-gray-600 mb-4">(2 genome available)</p> {% endcomment %}
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-50">
                    <th class="py-2 px-4 text-left">Species</th>
                    <th class="py-2 px-4 text-left">Genome</th>
                    <th class="py-2 px-4 text-left">Annotation</th>
                    <th class="py-2 px-4 text-left">NCBI Accession</th>
                    <th class="py-2 px-4 text-left">Genome Level</th>
                    <th class="py-2 px-4 text-left">Submitter</th>
                    <th class="py-2 px-4 text-left">Date</th>
                    <th class="py-2 px-4 text-left">Strategy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4 italic">Osmia cornifrons</td>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">[FTP]</a></td>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">[FTP]</a></td>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">GCA_009835225.1</a></td>
                    <td class="py-2 px-4">Scaffold</td>
                    <td class="py-2 px-4">Belarusian State University</td>
                    <td class="py-2 px-4">2020/1/9</td>
                    <td class="py-2 px-4">Illumina MiSeq</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Metagenome Information Section -->
    <div class="mt-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Metagenomes Information</h2>
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-50">
                    <th class="py-2 px-4 text-left">ID</th>
                    <th class="py-2 px-4 text-left">Species</th>
                    <th class="py-2 px-4 text-left">NCBI Accession</th>
                    <th class="py-2 px-4 text-left">Assay Type</th>
                    <th class="py-2 px-4 text-left">Function</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4">1</td>
                    <td class="py-2 px-4 italic">Osmia cornifrons</td>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">SRR7287194</a></td>
                    <td class="py-2 px-4">WGS</td>
                    <td class="py-2 px-4">Nutrient provision</td>
                </tr>
                <tr>
                    <td class="py-2 px-4">2</td>
                    <td class="py-2 px-4 italic">Osmia cornifrons</td>
                    <td class="py-2 px-4"><a href="#" class="text-kabuli-600 hover:underline">SRR7287208</a></td>
                    <td class="py-2 px-4">WGS</td>
                    <td class="py-2 px-4">Defense against parasitoids</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


{% endblock %}