{% extends "base.html" %}

{% block Part1 %}
{% load static %}
    <section class="container mx-auto my-12 p-8 bg-white shadow-xl rounded-2xl">
        <div class="border-b-4 border-kabuli-600 pb-6">
            <h2 class="text-4xl font-bold text-kabuli-800">{{ symbiont.symbiont_name }}</h2>
        </div>

        <!-- Basic Information Section -->
        <div class="mt-10">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
                    <h4 class="text-2xl font-semibold text-kabuli-700 mb-4">Symbiont</h4>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Classification:</span> {{ symbiont.classification }}</p>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Phylum:</span> {{ symbiont.symbiont_phylum }}</p>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Class:</span> {{ symbiont.symbiont_class }}</p>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Genus:</span> {{ symbiont.symbiont_genus }}</p>
                </div>
                <div class="bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
                    <h4 class="text-2xl font-semibold text-kabuli-700 mb-4">Host Insect</h4>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Order:</span> {{ symbiont.host_order }}</p>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Family:</span> {{ symbiont.host_family }}</p>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Subfamily:</span> {{ symbiont.host_subfamily }}</p>
                    <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Species:</span> {{ symbiont.host_species }}</p>
                </div>
            </div>
        </div>

        <!-- Function Section -->
        <div class="mt-12">
            <div class="bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
                <h4 class="text-2xl font-semibold text-kabuli-700 mb-4">Function</h4>
                <p class="mt-3 text-gray-800 break-words leading-relaxed">{{ symbiont.function }}</p>
                <div class="flex flex-wrap mt-4 space-x-3">
                    <span class="bg-kabuli-100 text-kabuli-800 px-4 py-2 rounded-full text-sm font-semibold">B vitamin</span>
                    <span class="bg-green-100 text-green-800 px-4 py-2 rounded-full text-sm font-semibold">Digestion</span>
                </div>
            </div>

            <div class="mt-6 grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
                    <h4 class="text-2xl font-semibold text-kabuli-700 mb-4">Localization</h4>
                    <p class="mt-3 text-gray-800">{{ symbiont.localization }}</p>
                </div>
                <div class="bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
                    <h4 class="text-2xl font-semibold text-kabuli-700 mb-4">Transmission Mode</h4>
                    <p class="mt-3 text-gray-800">{{ symbiont.transmission_mode }}</p>
                </div>
            </div>
        </div>

        <!-- Reference Section -->
        <div class="mt-12">
            <div class="bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
                <h4 class="text-2xl font-semibold text-kabuli-700 mb-4">Reference</h4>
                <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Reference:</span> {{ symbiont.reference }}</p>
                <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Journal:</span> {{ symbiont.journal }}</p>
                <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">DOI:</span> <a href="https://doi.org/{{ symbiont.doi }}" target="_blank" class="text-kabuli-600 hover:text-kabuli-800 hover:underline transition duration-300">{{ symbiont.doi }}</a></p>
                <p class="mt-3 text-gray-800"><span class="font-semibold text-kabuli-600">Available Data:</span>
                    {{symbiont.related_accession}}</p>
            </div>
        </div>

        <!-- Seq Section -->
        <!-- Download Section -->
        <div class="mt-12 bg-gray-50 p-6 rounded-xl shadow-md transition duration-300 hover:shadow-lg">
            <h4 class="text-2xl font-semibold text-kabuli-700 mb-6">Download</h4>
            <div class="flex flex-wrap gap-4">
                <!-- Genome File -->
                <div class="flex items-center bg-white rounded-lg shadow-sm hover:shadow-md transition duration-300 p-3">
                    <svg class="w-8 h-8 text-kabuli-600 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                    </svg>
                    <div class="flex-grow">
                        <h5 class="text-md font-semibold text-gray-800">Genome</h5>
                        <p class="text-xs text-gray-600">Genome Sequence</p>
                    </div>
                    <a href="path/to/genome/file" download class="ml-3 px-4 py-2 bg-kabuli-600 text-white text-sm font-semibold rounded-full shadow-md hover:bg-kabuli-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-kabuli-500 focus:ring-opacity-50">
                        Download
                    </a>
                </div>

                <!-- GFF File -->
                <div class="flex items-center bg-white rounded-lg shadow-sm hover:shadow-md transition duration-300 p-3">
                    <svg class="w-8 h-8 text-kabuli-600 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                    </svg>
                    <div class="flex-grow">
                        <h5 class="text-md font-semibold text-gray-800">GFF</h5>
                        <p class="text-xs text-gray-600">Genome Feature</p>
                    </div>
                    <a href="path/to/gff/file" download class="ml-3 px-4 py-2 bg-kabuli-600 text-white text-sm font-semibold rounded-full shadow-md hover:bg-kabuli-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-kabuli-500 focus:ring-opacity-50">
                        Download
                    </a>
                </div>

                <!-- Add more download items here as needed -->

            </div>
        </div>
    </section>

{% endblock %}
